.container{
    padding: 1.25rem;
    background-color: hsl(216, 50%, 16%);
    border-radius: 0.5rem;
}
.container h2{
    color:white;
    margin: 1rem 0.5rem 0.5rem 0;
}
.container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid var(--line);
}
