* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

p {
  font-weight: 300;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: hsl(217, 54%, 11%);
  color: hsl(0, 0%, 100%, 60%);
  padding: 20px;
}

.atrribution a {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsla(228, 45%, 44%, 1);
}

@media screen and (min-width: 500px) {
  .container {
    width: 450px;
    margin: 0 auto 16px;
  }
}
